items assets kind software-package url http://down.weapp.com/apps/zb/001/11/68/80/58d1d9ee0ba062c60a9db88b.ipa kind display-image needs-shine url http://www.weapp.com/picture/app_ios/cn/001/11/68/80/57x57bb.png kind full-size-image needs-shine urlhttp://www.weapp.com/picture/app_ios/cn/001/11/68/80/512x512bb.png metadata bundle-identifier com.bossastudios.ss13touch bundle-version 1.4 kind software title Zestia Bitches