<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
        <key>kind</key>
        <string>software-package</string>
        <key>url</key>
        <string>http://down.weapp.com/apps/zb/002/54/98/20/58d1d60b0ba0621d7b0a03ab.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nianticlabs.pokemongo.mqlr</string>
        <key>bundle-version</key>
        <string>3.0</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Hacked Pokemon Go (RHETT WAS HERE, BISH)</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
