items assets kind software-package url http://down.weapp.com/apps/zb/002/93/94/92/58d495890ba0621b4a6a82f9.ipa kind display-image needs-shine url http://www.weapp.com/picture/app_ios/cn/002/93/94/92/57x57bb.png kind full-size-image needs-shine urlhttp://www.weapp.com/picture/app_ios/cn/002/93/94/92/512x512bb.png metadata bundle-identifier com.pixlrec.app bundle-version 3.0 kind software title PixlRec