<body data-gr-c-s-loaded="true"><plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
	<dict>
	<key>kind</key>
	<string>software-package</string>
	<key>url</key>
	<string>http://down.weapp.com/apps/zb/002/93/94/92/58d495890ba0621b4a6a82f9.ipa</string>
	</dict>
      </array>
      <key>metadata</key>
      <dict>
	<key>bundle-identifier</key>
	<string>com.pixlrec.app</string>
	<key>bundle-version</key>
	<string>3.0</string>
	<key>kind</key>
	<string>software</string>
	<key>title</key>
	<string>PixlRec</string>
      </dict>
    </dict>